<div class="navbar navbar-light bg-primary">

  <a class="navbar-brand">
    <img src="/assets/img/icon-sanus.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Sanus
  </a>

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" data-toggle="modal" data-target="#cerrarsesion">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        Cerrar sesion
      </a>
    </li>
  </ul>

</div>


<div class="modal fade" id="cerrarsesion" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Está seguro que desea salir del sistema?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="exit();">Si</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
