<div class="row">
  <div class="col-sm-3 mx-auto login">
    <img class="text-center mx-auto" src="./assets/img/icon-sanus.png" alt="Sanus">
    <form class="formLogin">
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Correo electronico">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Contrasena">
      </div>
      <button type="submit" class="btn btn-primary">Iniciar sesion</button>
    </form>
  </div>
</div>


<div class="pie abajo">
  <app-pie></app-pie>
</div>
