<a [routerLink]="['/inicio']" routerLinkActive="menuActive">
  <i class="fa fa-home" aria-hidden="true"></i>
  Ayuda
</a>
<a [routerLink]="['/usuarios']" routerLinkActive="menuActive">
  <i class="fa fa-users" aria-hidden="true"></i>
  Usuarios
</a>
<a [routerLink]="['/doctores']" routerLinkActive="menuActive">
  <i class="fa fa-user-md" aria-hidden="true"></i>
  Doctores
</a>
<a [routerLink]="['/horarios']" routerLinkActive="menuActive">
  <i class="fa fa-calendar" aria-hidden="true"></i>
  Horarios
</a>
<a [routerLink]="['/hospitales']" routerLinkActive="menuActive">
  <i class="fa fa-hospital-o" aria-hidden="true"></i>
  Hospitales
</a>
